img{
    width: 100%;
}
#section1{
    background-color: aqua;
    padding: 200px;
}
.Bloc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.BlocItem{
    background-color: yellow;
    border: 1px black solid;
    color: blue;
    width: 45%;
    margin: 20px;
    border-radius: 10px;
    height: 300px;

}
h2{
    text-align: center;
}
.titre_bloc
{
    transform: rotate(90deg);
    padding: 20% 20% 20% 20%;
}
#changeColorButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #2ecc71; /* Couleur de fond du bouton */
    color: white;
    transition: background-color 0.3s;
}